
.baner {
    height: 650px;
    position: relative;
   /*  overflow: hidden; */
    max-width: 1600px;
    /*max-height: 100vh; */
   &__foto {
    position: absolute;       
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    -webkit-animation: slider 15s infinite linear;
            animation: slider 15s infinite linear;
   }
    &__p {
        position: absolute;
        top: 50%;
        left:50%;
        -webkit-transform: translate(-50% - 50%);
            -ms-transform: translate(-50% - 50%);
                transform: translate(-50% - 50%);
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 20px;
        -webkit-animation: txt 15s linear infinite both;
                animation: txt 15s linear infinite both;
        opacity: 0;
        @media (max-width: 800px) {
            font-size: 20px;
        }
        @media (max-width: 480px) {
            font-size: 15px;
        }
    }
    &__foto:nth-child(2) {
        -webkit-animation-delay: 5s;
                animation-delay: 5s;
       }
    &__foto:nth-child(3) {
        -webkit-animation-delay: 10s;
                animation-delay: 10s;
       } 
    &__p:nth-of-type(1) {
        top: 30%;
        left: 80%;
       }  
    &__p:nth-of-type(2) {
        top: 70%;
        left: 35%;
        -webkit-animation-delay: 5s;
                animation-delay: 5s;
       }
    &__p:nth-of-type(3) {
        top: 30%;
        left: 30%;
        -webkit-animation-delay: 10s;
                animation-delay: 10s;
       }         
}
 
 .main__baner {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 580px;
    left: 0;
    background-color: rgba(23,93,101,0.5);
    color: white;
    overflow: hidden;

    &-span {
       position: absolute;
       top: 50%;
       left:0;
       -webkit-transform: translate(0 -50%);
           -ms-transform: translate(0 -50%);
               transform: translate(0 -50%);
       text-align: center;
       width: 100%;
       font-size: 20px;
       text-transform: uppercase;
       font-family: 'Roboto', sans-serif; 
       -webkit-animation: text 16s linear infinite both;
               animation: text 16s linear infinite both;
       color: white;
       
   } 
   &-span:nth-child(2)
   {
       -webkit-animation-delay: 4s;
               animation-delay: 4s;
   }
   &-span:nth-child(3)
   {
       -webkit-animation-delay: 8s;
               animation-delay: 8s;
   }
   &-span:nth-child(4)
   {
       -webkit-animation-delay: 12s;
               animation-delay: 12s;
   }
   

    @media (max-width: 480px) {
        .main__baner-span {
            font-size: 11px;
        }
    }
}
.move_baner {
    background-color: var(--bg-color-main-html);
    height: 250px;
    /* width: 90%; */
    margin: auto;
    &-title {
        text-align: center;
        padding: 5px;
        background-color: rgb(66, 157, 155);
        color: rgb(242, 142, 4);
        font-size: 25px;
        text-transform: uppercase;
        font-family: roboto,Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 1px; 
        @media (max-width: 480px) {
            font-size: 20px;
        }  
    }

    &-picture {
        display: block;
        float: left;  
        width: 250px;
        margin: 15px;
        -webkit-box-shadow: 2px 4px 45px black;
                box-shadow: 2px 4px 45px black;
        cursor: pointer;
        
        @media (max-width: 800px) {
            width: 200px;
        }
        @media (max-width: 640px) {
            width: 150px;
        }
        @media (max-width: 480px) {
            width: 120px;

        }
    }
    &-description { 
        margin: 25px 30px 0 20px;
        text-align: center;
        color: black;
        font-family: 'Roboto', sans-serif; 
        line-height: 1.3;
        @media (max-width: 640px) {
            font-size: 16px;
        }
        @media (max-width: 480px) {
            font-size: 13px;
        }
    }  
    &-picture-specjal {
        display: block;
        float: left;
        width: 98%;
        margin: 15px;
        -webkit-box-shadow: 2px 4px 45px black;
        box-shadow: 2px 4px 45px black;
        cursor: pointer;  
        @media (max-width: 480px) {
            height: 100px;

        }  
    } 
    &--link {
        text-decoration: none;
    } 
    h2:hover {
        color: rgb(253, 209, 151);
    }  
}
.move_baner-picture:hover {
    border: 2px solid #f18e04;
}
.look__p {    
    color: black;
    margin-top: 20px;
    text-align: center;
    font-size: 22px; 
    @media (max-width: 640px) {
        font-size: 15px;
    }  
   }
   .look__title {
     position: relative;
   }
   .look__title::after
   {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgb(245, 248, 248);
     -webkit-animation: dots 3.5s linear infinite;
             animation: dots 3.5s linear infinite;
 
   }
   .line {
       width: 100%;
       height:30px;
       border-top: 1px solid rgb(57, 163,161);
   }