.footer {
    max-width: 1400px;
    margin-top: 30px;
    &__menu {
        /*   display: block; */
        color: black;
        text-align: center;
        background-color:  rgb(110,194,192);
        border-bottom: 1px solid  rgb(75, 75, 75);
    }
    &__menu a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        margin: 60px;   
    }
    &__menu a:hover {
        color: var(--primary-color);
    }
    &__realization {
        font-size: 10px;
        padding: 20px;
    }
    &__copy {
        font-size: 8px;
    }
}
 .font {
    font-size: 30px;
    margin: 20px;
    color: rgb(75, 75, 75);
    -webkit-box-shadow: 3px 3px 3px ;
            box-shadow: 3px 3px 3px ;   
}
