:root {
    --primary-color: #f18e04;
    --main-font-color: rgb(40, 40, 40);
    --secendary-color: rgb(23,93,101);
    --third-color: rgb(110,194,192); 
    --bg-color-btn: #fff;
    --bg-color-header: rgba(255, 255, 255, 0.8);  
    --bg-color-main-html: rgba(250, 250, 250, 0.8);  
   
}

/* color: var(--main-font-color); 
   color: var(--primary-color); 
   color: var(--secendary-color); 
   
*/